<!DOCTYPE html>
<html lang="zh-CN" class="ua-mac ua-webkit book-new-nav">
  <head>
    <meta charset="utf-8">
    <title>papa</title>
    <link type="test/css" rel="stylesheet" href="/static/css/test.css" >
</head>

<body>
<div class="home-wrapper">
  <div class="home-header">
    <h1 class="logo">
      <a href="http://papa.me">啪啪 - 手机好声音</a>
    </h1>

    <div class="top-nav">
      <a href="http://papa.me/studio" target="_blank" class="web-page">网页版登陆 ></a>
    </div>

    <div class="gallery"></div>

    <div class="slide-content">
      <div class="download">
        <div class="download-header">
          <a class="iphone" target="_blank" href="http://papa.me/j/2">iPhone版下载</a>
          <a class="android" target="_blank" href="http://papa.me/j/58">Android版下载</a>
        </div>
        <div class="qr-code">扫描下载应用</div>
      </div>
    </div>
  </div>
</div>

<div class="post-intro">
  <ul>
    <li>
      <h4>照片+声音多媒体社交</h4>
      <p>一段语音一张图片展示自我</p>
      <p>你的声音将覆盖社交网络</p>
    </li>
    <li class="intro-left">
      <h4>汇集原创电台个性发声</h4>
      <p>听草根达人原创声音</p>
      <p>看明星红人分享生活</p>
    </li>
    <li class="intro-left">
      <h4>海量有声资源免费听</h4>
      <p>大牌脱口秀、最火有声小说</p>
      <p>好声音应有尽有，听你想听</p>
    </li>
  </ul>
</div>

<hr class="seprate"/>
<div class="choiceness clearfix">
  <h4>精选内容</h4>
  <ul class="lovelist" id="lovelist">
    <li>
      <img class="content" src="http://ni.ppsrc.com/KilFaOVMA07HFCEJTB-wgQ@230w_230h_100Q.png"  alt="">
    </li>
    <li>
      <img class="content" src="http://ni.ppsrc.com/6X4l3KkKw33HFCEJTB-wgQ@230w_230h_100Q.png"  alt="">
    </li>
    <li>
      <img class="content" src="http://ni.ppsrc.com/LsTVH4BrQ-XHFCEJTB-wgQ@230w_230h_100Q.png"  alt="">
    </li>
    <li>
      <img class="content" src="http://ni.ppsrc.com/eSOE1N6dnznHFCEJTB-wgQ@230w_230h_100Q.png"  alt="">
    </li>
    <li>
      <a href="http://papa.me/post/gA1Bj8kk" target="_blank">
      <img class="content" src="http://ni.ppsrc.com/LDd9r4cxSBPHFCEJTB-wgQ@230w_230h_100Q.png"  alt="">
      <span class="love-icon">61</span>
      <img src="http://ni.ppsrc.com/19smMbWff4nHFCEJTB-wgQ@38w_38h_100Q.png" alt="" class="head"/>
      <p class="shadow"></p>
      </a>
    </li>
    <li>
      <a href="http://papa.me/post/uc2Jl1g3" target="_blank">
      <img class="content" src="http://ni.ppsrc.com/cCGZkPmNkPXHFCEJTB-wgQ@230w_230h_100Q.png"  alt="">
      <span class="love-icon">42</span>
      <img src="http://ni.ppsrc.com/60Z7M1B5Bp3HFCEJTB-wgQ@38w_38h_100Q.png" alt="" class="head"/>
      <p class="shadow"></p>
      </a>
    </li>
    <li>
      <a href="http://papa.me/post/C6Wu7t4k" target="_blank">
      <img class="content" src="http://ni.ppsrc.com/0IA6_T_7uObHFCEJTB-wgQ@230w_230h_100Q.png"  alt="">
      <span class="love-icon">41</span>
      <img src="http://ni.ppsrc.com/8VtapH__9fjHFCEJTB-wgQ@38w_38h_100Q.png" alt="" class="head"/>
      <p class="shadow"></p>
      </a>
    </li>
    <li>
      <a href="http://papa.me/post/wF0k7jn1" target="_blank">
      <img class="content" src="http://ni.ppsrc.com/rDFB0F32vSjHFCEJTB-wgQ@230w_230h_100Q.png"  alt="">
      <span class="love-icon">43</span>
      <img src="http://ni.ppsrc.com/gqzL6AjquuPHFCEJTB-wgQ@38w_38h_100Q.png" alt="" class="head"/>
      <p class="shadow"></p>
      </a>
    </li>
    <li>
      <a href="http://papa.me/post/lt1NS6Q1" target="_blank">
      <img class="content" src="http://ni.ppsrc.com/T_oKk0H8oJrHFCEJTB-wgQ@230w_230h_100Q.png"  alt="" >
      <span class="love-icon">33</span>
      <img src="http://ni.ppsrc.com/fkPG8vh355LHFCEJTB-wgQ@38w_38h_100Q.png" alt="" class="head"/>
      <p class="shadow"></p>
      </a>
    </li>
    <li>
      <a href="http://papa.me/post/c7GX8AA7" target="_blank">
      <img class="content" src="http://ni.ppsrc.com/wW7fCS_HnQfHFCEJTB-wgQ@230w_230h_100Q.png"  alt="">
      <span class="love-icon">97</span>
      <img src="http://ni.ppsrc.com/KC8Gswv89AbHFCEJTB-wgQ@38w_38h_100Q.png" alt="" class="head"/>
      <p class="shadow"></p>
      </a>
    </li>
    <li>
      <a href="http://papa.me/post/ym1F2e2O" target="_blank">
      <img class="content" src="http://ni.ppsrc.com/uydMw7yl7CTHFCEJTB-wgQ@230w_230h_100Q.png"  alt="">
      <span class="love-icon">51</span>
      <img src="http://ni.ppsrc.com/cmiv-f42KgnHFCEJTB-wgQ@38w_38h_100Q.png" alt="" class="head"/>
      <p class="shadow"></p>
      </a>
    </li>
    <li>
      <a href="http://papa.me/post/Vk3MX1Rr" target="_blank">
      <img class="content" src="http://ni.ppsrc.com/vW6UzG-8durHFCEJTB-wgQ@230w_230h_100Q.png"  alt="">
      <span class="love-icon">40</span>
      <img src="http://ni.ppsrc.com/CceYnzXDx8rHFCEJTB-wgQ@38w_38h_100Q.png" alt="" class="head"/>
      <p class="shadow"></p>
      </a>
    </li>
  </ul>

<p class="load-post"><span class="text">更多</span></p>

</div>

<div class="footer-container">
  <div class="footer">
    <a href="http://papa.me/about" target="_blank">关于</a> -
    <a href="http://papa.me/job" target="_blank">加入我们</a> -
    <a href="http://papa.me/link" target="_blank">友情链接</a> -
    <a href="http://papa.me/terms/legal" target="_blank">版权声明</a> -
    <span id="partner-download">更多平台</span> - <a target="_blank" href="http://imwuya.com">乌鸦</a> -
    <a href="http://papa.me">啪啪©2014</a> -
    <a href="http://www.miibeian.gov.cn" target="_blank" class="beian">京ICP备12039296号-1</a> -
    <span>京公网安备11010502023173号</span>
  </div>
</div>

<!-- test
<div class="home-wrapper">
  <div class="home-header">header</div>
  <div id="body2" class="clearfix">
      <div class="main">......</div>
      <div class="aside">...aside...</div>
  </div>
  <div class="footer"></div>
</div>
-->

</body>
</html>
