{% extends "admin/base.html" %}

{% block main %}

<div id="content">
<div id="article">
{% if posts %}
<dl>
{% for post in posts %}
      <div class="blog-post">
        <h2 class="blog-post-title"><a href="/admin/posts/{{ post.id }}">{{ post.title|safe }}</a></h2>
      </div><!-- /.blog-post -->
        {% if 'admin_uid' in session %}
        [<a href="/admin/posts/{{ post.id }}/update">编辑</a>]
        [<a href="/admin/posts/{{ post.id }}/delete">删除</a>]
        <p> </p>
        {% endif %}
{% endfor %}
</dl> <!-- 文章列表尾 -->
{% else %}
    <b>please add post。</b>
{% endif %}

</div> <!-- end article -->
</div> <!-- end content -->

{% endblock %}
