{% extends "base.html" %}

{% block main %}
<div id="content">
<div id="article">
<dl>
<dt><a href="/post/{{ page.id}}/entry">{{ page.title }}</a></dt>
<dd>{{ page.content|markdown|safe }}</dd>

{% include "_postinfo.html" %}

</dl>
</div> <!-- end article -->

<div id="comments">

<h3>评论</h3>
{% if not cs %}
    <b>暂无评论</b>
{% else %}
    {%for comment in cs %}
        <dt id="csfont">
        <img src="{{ comment.email|gravatar }}" style="float:right">
        {% if comment.website %}
            <a href="{{ comment.website|safe }}"><b>{{ comment.name }}</b></a>
        {% else %}
            <b>{{ comment.name }}</b>
        {% endif %}
        Comment @ {{ comment.commented_on|datetimeformat }}<a name="#commented-{{ comment.id }} "></a>
        <dt id="csfont"> {{ comment.comments|markdown|safe }}
    {% endfor %}
{% endif %}
<a name="comments"></a>
{% include "_comment.html" %}

</div>
</div> <!-- end content -->

<div id="sidebar">

<div id="list">

{% include "_about.html" %}
{% include "_newtop.html" %}
{% include "_topcomment.html" %}
{% include "_mn.html" %}

</div> <!-- end list -->

</div> <!-- end sidebar -->
{% endblock %}
