{% extends "base.html" %}
{% from "_pagination.html" import paginate %}


{% block main %}

<div id="content">
<div id="article">
{% if page_obj %}
<dl>
{% for page in page_obj.items %}

      <div class="blog-post">
        <h2 class="blog-post-title"><a href="/admin/post/{{ page.id }}">{{ page.title|safe }}</a></h2>
        <p class="blog-post-meta">{{ page.content|safe }}</p>
      </div><!-- /.blog-post -->
{% endfor %}
</dl> <!-- 文章列表尾 -->
{% else %}
    <b>暂时还没有文单，请点击<a href="/admin/add_entries">发文章</a>来添加。</b>
{% endif %}
</div> <!-- end article -->


{{ paginate(page_obj, page_url) }}
</div> <!-- end content -->

<div id="sidebar">
    <div id="list">
    </div> <!-- end list -->
</div> <!-- end sidebar -->
{% endblock %}
