<!DOCTYPE html>
<html>
  <head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>

  <header>
    <div class="container">
      <h1 class="logo">Admin Page</h1>
      <nav>
        <ul class="menu">
          <li><a href="{{ url_for('.index') }}">Post List</a></li>
          <li><a href="{{ url_for('.add_entry') }}">Add Post</a></li>
          {% if 'email' in session %}
          <li><a href="{{ url_for('admin.signout') }}">Sign Out</a></li>
          {% else %}
          <li><a href="{{ url_for('admin.signin') }}">Sign In</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
